<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Upload test</title>
</head>
<body>
    <form action="http://localhost:8180/MatlabAdapter/rs/matlab/uploadFile" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" />

        <p><input type="submit" value="Upload"></p>
    </form>
</body>
</html>
